*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    --bg-color: #edf2ff;
    --text-colof: #00082f;
  }
  
  body{
    background: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto', sans-serif;
  }
  .container{
    border: 7px red solid none;
    text-align: center; width: 300px;
    margin: 60px auto;
    padding: 0px 40px;
  }
  
  img{
    width: 100px;
    border-radius: 50%;
    height: 100px;
    border: 4px #4263eb solid;
    padding: 3.7px;
  }
  p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: #00082f;
    opacity: .8;
    font-size: 18px;
  }
  
  ul{
    list-style: none;
    margin: 48px 0px;
  }
  h1{
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 32px;
    display: block;
    color: #00082f;
  }
  
  ul li a{
    height: 53px;
    color: white;
    text-transform: uppercase14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4263eb;
    margin-bottom: 16px;
    border-radius: 6px;
  transition: background 400ms;
  }
  
  ul li a:hover{
  background-color:#364fc7;
  }
  
  footer{
    font-weight: 500;
    font-size: 12px;
    color: #00082f;
    opacity: 0.6;
    transition: opacity 400ms;
  }
  
  footer:hover{
    opacity: 1;
  }